.content {
    display:none;
}

.radio:checked ~ .content {
    display:block
}

body {
    background-color: #f9564f;
}

button {
    background-color: #f3c677;
}

fieldset {
    background-color: #f3c677;
    height: 90px;
}