body {
    background-color: rgba(101, 15, 87, 0.34);
}
h2 {
    color: rgba(7, 21, 213, 0.33);
}
p {
    color: rgba(7, 21, 213, 0.33);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(24, 27, 255, 0.25);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
